<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/web-services 
       http://www.springframework.org/schema/web-services/web-services-2.0.xsd 
       http://www.springframework.org/schema/context  
       http://www.springframework.org/schema/context/spring-context-3.0.xsd">
       
	<context:component-scan base-package="com.yash.iot.service.impl"></context:component-scan>
	<context:component-scan base-package="com.yash.iot.service.endpoint"></context:component-scan>
	<context:component-scan base-package="com.yash.iot.dao.impl"></context:component-scan>
    <sws:annotation-driven/>

	<bean id="warehouseDataService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition">
	  <property name="schema" ref="schema"/>
	  <property name="portTypeName" value="WarehouseBinSensorData"/>
	  <property name="locationUri" value="/endpoints"/>
	</bean>
	
	<bean id="schema" class="org.springframework.xml.xsd.SimpleXsdSchema">
	    <property name="xsd" value="schemas/WarehouseBinSensorData.xsd"/>
	</bean>


<!-- 	<bean id="WarehouseDataService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">  
     <property name="schemaCollection">  
        <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">  
          <property name="inline" value="true" />  
          <property name="xsds">  
            <list>  
              <value>schemas/WarehouseBinSensorDataRequest.xsd</value>  
            </list>  
          </property>  
        </bean>  
      </property>  
      <property name="portTypeName" value="WarehouseSensorDataService"/>  
      <property name="serviceName" value="WarehouseDataServices" />  
      <property name="locationUri" value="/endpoints"/>  
	</bean> -->
</beans>